@{
    ViewData["Title"] = "添加活动";
}
@section css{
    <link href="~/lib/bootstrap-datepicker/dist/css/bootstrap-datepicker.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css" rel="stylesheet" />
    <style>
        .title-text {
            background-color: #91e86c;
            padding: 3px;
            width: 150px;
        }

        .title-css {
            font-size: 1.6em;
            vertical-align: middle;
        }

        .row {
            margin-top: 10px
        }

        .col-md-2 {
            text-align: right;
        }
    </style>
}
<div class="container">
    <div class="row">
        <div class="title-text">
            <h2>添加活动</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2 title-css">活动名称：</div>
        <div class="col-md-10">
            <input class="form-control input-lg input-text" placeholder="活动名称" id="activename" name="activename" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 title-css">活动地址：</div>
        <div class="col-md-10">
            <input class="form-control input-lg input-text" placeholder="活动地址" id="activeaddress" name="activeaddress" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 title-css">开始日期：</div>
        <div class="col-md-4" id="sandbox-container">
            
                <div class="input-group date">
                    <input type="text" class="form-control  input-lg" id="begindate" name="begindate" placeholder="开始时间" value="">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-th"></i>
                    </span>
                </div>
        </div>
        <div class="col-md-2 title-css">开始时间：</div>
        <div class="col-md-4 title-css">
            <select class="form-control  input-lg" name="begintime">
                <option selected value="05:00:00">05:00:00</option>
                <option value="05:30:00">05:30:00</option>
                <option value="06:00:00">06:00:00</option>
                <option value="06:30:00">06:30:00</option>
                <option value="07:00:00">07:00:00</option>
                <option value="07:30:00">07:30:00</option>
                <option value="08:00:00">08:00:00</option>
                <option value="08:30:00">08:30:00</option>
                <option value="09:00:00">09:00:00</option>
                <option value="09:30:00">09:30:00</option>
                <option value="10:00:00">10:00:00</option>
                <option value="10:30:00">10:30:00</option>
                <option value="11:00:00">11:00:00</option>
                <option value="11:30:00">11:30:00</option>
                <option value="12:00:00">12:00:00</option>
                <option value="12:30:00">12:30:00</option>
                <option value="13:00:00">13:00:00</option>
                <option value="13:30:00">13:30:00</option>
                <option value="14:00:00">14:00:00</option>
                <option value="14:30:00">14:30:00</option>
                <option value="15:00:00">15:00:00</option>
                <option value="15:30:00">15:30:00</option>
                <option value="16:00:00">16:00:00</option>
                <option value="16:30:00">16:30:00</option>
                <option value="17:00:00">17:00:00</option>
                <option value="17:30:00">17:30:00</option>
                <option value="18:00:00">18:00:00</option>
                <option value="18:30:00">18:30:00</option>
                <option value="19:00:00">19:00:00</option>
                <option value="19:30:00">19:30:00</option>
                <option value="20:00:00">20:00:00</option>
                <option value="20:30:00">20:30:00</option>
                <option value="21:00:00">21:00:00</option>
                <option value="21:30:00">21:30:00</option>
                <option value="22:00:00">22:00:00</option>
                <option value="22:30:00">22:30:00</option>
                <option value="23:00:00">23:00:00</option>
                <option value="23:30:00">23:30:00</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 title-css">结束日期：</div>
        <div class="col-md-4" id="sandbox-container">

            <div class="input-group date">
                <input type="text" class="form-control  input-lg  rq" id="enddate" name="enddate" placeholder="结束日期" value="">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-th"></i>
                </span>
            </div>
        </div>
        <div class="col-md-2 title-css">结束时间：</div>
        <div class="col-md-4 title-css">
            <select class="form-control  input-lg" id="endtime" name="endtime">
                <option selected value="05:00:00">05:00:00</option>
                <option value="05:30:00">05:30:00</option>
                <option value="06:00:00">06:00:00</option>
                <option value="06:30:00">06:30:00</option>
                <option value="07:00:00">07:00:00</option>
                <option value="07:30:00">07:30:00</option>
                <option value="08:00:00">08:00:00</option>
                <option value="08:30:00">08:30:00</option>
                <option value="09:00:00">09:00:00</option>
                <option value="09:30:00">09:30:00</option>
                <option value="10:00:00">10:00:00</option>
                <option value="10:30:00">10:30:00</option>
                <option value="11:00:00">11:00:00</option>
                <option value="11:30:00">11:30:00</option>
                <option value="12:00:00">12:00:00</option>
                <option value="12:30:00">12:30:00</option>
                <option value="13:00:00">13:00:00</option>
                <option value="13:30:00">13:30:00</option>
                <option value="14:00:00">14:00:00</option>
                <option value="14:30:00">14:30:00</option>
                <option value="15:00:00">15:00:00</option>
                <option value="15:30:00">15:30:00</option>
                <option value="16:00:00">16:00:00</option>
                <option value="16:30:00">16:30:00</option>
                <option value="17:00:00">17:00:00</option>
                <option value="17:30:00">17:30:00</option>
                <option value="18:00:00">18:00:00</option>
                <option value="18:30:00">18:30:00</option>
                <option value="19:00:00">19:00:00</option>
                <option value="19:30:00">19:30:00</option>
                <option value="20:00:00">20:00:00</option>
                <option value="20:30:00">20:30:00</option>
                <option value="21:00:00">21:00:00</option>
                <option value="21:30:00">21:30:00</option>
                <option value="22:00:00">22:00:00</option>
                <option value="22:30:00">22:30:00</option>
                <option value="23:00:00">23:00:00</option>
                <option value="23:30:00">23:30:00</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 title-css">上传海报：</div>
        <div class="col-md-5" style="height:300px;width:480px;background-color:#ebebeb">
        </div>
        <div class="col-md-5">
            <div class="row">
                <button  class="btn btn-lg btn-success" style="margin-left:20px;width:300px;font-size:2em;">
                    <span class="glyphicon glyphicon-open" aria-hidden="true"></span>&nbsp;&nbsp;上&nbsp;传
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 title-css">活动人数：</div>
        <div class="col-md-10">
            <input type="number" class="form-control input-lg input-text" placeholder="活动人数" id="peoplecount" name="peoplecount" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 title-css">详细内容：</div>
        <div class="col-md-10">
            <script id="editor" type="text/plain" style="height:480px;">
            </script>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2 title-css">是否报名：</div>
        <div class="col-md-10">
            <input type="checkbox" class="form-control" style="width:30px" id="isemroll" name="isemroll" />
        </div>
    </div>

    <div class="row" style="text-align:center;margin-top:20px;">
        <button onclick="sava()" class="btn btn-lg btn-success" style="margin-left:20px;width:300px;font-size:2em;">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>&nbsp;&nbsp;发&nbsp;布
        </button>
    </div>
</div>

@section scripts{
    <script type="text/javascript" charset="utf-8" src="~/lib/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="~/lib/ueditor/ueditor.all.js"> </script>
    <script type="text/javascript" charset="utf-8" src="~/lib/ueditor/lang/zh-cn/zh-cn.js"></script>
    <script src="~/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
    <script src="~/lib/bootstrap-datepicker/dist/locales/bootstrap-datepicker.zh-CN.min.js"></script>
    <script>
        $(function () {
            createEditor();
        });
        function createEditor() {

            UE.getEditor('editor').addListener('ready', function (editor) {
                //加载内容

            });
        }

        //日历控件初始化
        $('#sandbox-container .input-group.date').datepicker({
            pickTime: false,
            language: 'zh-CN', //汉化
            autoclose: true, //选择日期后自动关闭
            todayBtn: "linked",
            todayHighlight: true
        });

        function sava() {
            $.post("", {
                activename: $("#activename").val(),
                activeaddress: $("#activeaddress").val(),
                begindate: $("#begindate").val(),
                begintime: $("#begintime").val(),
                enddate: $("#enddate").val(),
                endtime: $("#endtime").val(),
                content: UE.getEditor('editor').getContent(),
                isEnroll: $("#isemroll").ischecked,
                logoPath: $("#").val(),
                peopleNumber: $("#peoplecount").val()

            }, function (result) {


            })
        }
    </script>
}





